$dark-orange: #f5612c;
$light-orange: #ff9e45;

$dark-blue:#0086A8;
$light-blue:#2CCCF5;

$deliveboo-primary: #f5612c;
$deliveboo-primary-light: #ff9e45;
$deliveboo-secondary:#0086A8;
$deliveboo-secondary-light:#2CCCF5;

$deliveboo-white:#f1f1f1;
$deliveboo-dark:#4a4a4a;
$deliveboo-bg-light:white;

//VARIBILI PER BOTTONI
//$deliveboo-btn-bg-light:white;


